@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ejs-calendar id="calendar" locale="zh"></ejs-calendar>
    <br/>
    <ejs-numerictextbox id="numeric" value="12" decimals="2"></ejs-numerictextbox>
    <br/>
    <ejs-datepicker locale="zh" id="datepicker"></ejs-datepicker>
    <br/>
    <ejs-colorpicker locale="zh" id="element"></ejs-colorpicker>
    <br/>
    <ejs-datetimepicker id="datetimepicker" locale="zh"></ejs-datetimepicker>
    <br/>
    <ejs-grid locale="zh"
        allowPaging="true" allowResizing="true" allowSorting="true" allowReordering="true" allowGrouping="true" allowFiltering="true" allowSelection="true"
        toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" })"    
        id="grid" dataSource="@ViewBag.DataSource">
    <e-grid-pagesettings pageSize="20"/> 
    <e-grid-filterSettings type="Menu"></e-grid-filterSettings> 
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" showDeleteConfirmDialog="true"></e-grid-editSettings> 

    </ejs-grid>    
</div>
