<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - w9wen.Lamp.AspNetCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ej2/bootstrap4.css" />
    @* <script src="~/js/ej2/ej2.min.js"></script> *@

    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>    

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">w9wen.Lamp.AspNetCore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - w9wen.Lamp.AspNetCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<ejs-scripts></ejs-scripts>
    @RenderSection("Scripts", required: false)
	 
</body>
</html>


@* <script>
    var L10n = ej.base.L10n;
    L10n.load({
        'zh-TW': {
            'numerictextbox': {
                incrementTitle: '增加', 
                decrementTitle: '減少'
            },
            'datepicker': { 
                placeholder: '請點選',
                today: '今日'
            },
            'calendar': {
                today: "今日"
            },
            'colorpicker': {
                Apply: '套用',
                Cancel: '取消',
                ModeSwitcher: '模式'
            },
            'datetimepicker': { 
                placeholder: "請點選您的日期時間",
                today:"今日"
            },
            'grid': {
                Add: "新增",
                Edit: "修改",
                Delete: "刪除",
                @* 'Cancel': "取消",
                'Update': "更新",
                'EditFormTitle': "修改: ",
                'SaveButton': "儲存",
                'CancelButton': "取消",
                'AddFormTitle': "新增角色",
                'EditOperationAlert': "沒有選取角色",
                'ConfirmDelete': "確認要刪除角色?",
                'OKButton': "確認",
            },
            'pager': {
                'currentPageInfo': "{0} of {1} 頁",
                'totalItemsInfo': "({0} 筆記錄)",
                'firstPageTooltip': "第一頁",
                'lastPageTooltip': "最後一頁",
                'nextPageTooltip': "下一頁",
                'previousPageTooltip': "前一頁",
                'nextPagerTooltip': '下一章',
                'previousPagerTooltip': '前一章'
            }                                    
        }
    });

    function loadCultureFiles(name) {
        var files = ['currencies.json', 'numbers.json'];
        var loader = ej.base.loadCldr;
        var loadCulture = function (prop) {
            var val, ajax;
            ajax = new ej.base.Ajax('/node_modules/cldr-data/main/zh-Hant/' + files[prop], 'GET', false);
            ajax.onSuccess = function (value) {
                val = value;
            };
            ajax.send();
            loader(JSON.parse(val));
        };
        for (var prop = 0; prop < files.length; prop++) {
            loadCulture(prop);
        }
    }
    loadCultureFiles("zh");
    ej.base.setCulture('zh-TW');
</script> *@
